/* font-family: 'Quicksand', sans-serif; */

/* font-family: 'Nothing You Could Do', cursive; */

/* Colors:
- #A9C1D2 light steel blue
- #FFFFFF plain white
- #949D6A moss green
- #2F2A3A raisin black */

/* BODY  */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-bookings, .possible-bookings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

h2 {
  font-size: 30px;
  margin: 40px 0px 40px 0px;
  text-align: center;
}

/* HEADER  */
h1 {
  color: #2F2A3A;
  font-size: 70px;
  margin: 100px 100px 15px 100px;
  text-align: center;
}

h3 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 105px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

header {
  align-items: flex-end;
  background-color: #A9C1D2;
  display: flex;
  height: 24%;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

button {
  background-color: #2F2A3A;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  margin-bottom: 20px;
  width: 120px;
}

.user-total-spent {
  font-size: 20px;
  margin-bottom: 15px;
}

.user-money {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

.search-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.inputs {
  display: flex;
  margin-bottom: 15px;
}

.calendar, .room-filter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

/* MAIN  */
.filter-subheading, .followup, .error {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.load-error {
  color: red;
  text-align: center;
}

.followup {
  font-size: 20px;
}

.booking-thumbnail, .to-book-thumbnail {
  align-items: center;
  background-color: #A9C1D2;
  background-image: url("../images/ocean.jpg");
  background-size: cover;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 20px;
  width: 300px;
}

.to-book-thumbnail {
  height: 300px;
}

.booking-info, .to-book-info, .book-button-display, .book-button-display {
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  opacity: 0.8;
  padding: 10px;
  width: 68%;
}

.to-book-info {
  margin-top: 15px;
}

.booked {
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
}

.filter-button {
  height: 30px;
  margin-left: 20px;
  margin-top: 25px;
  padding: 5px;
  width: 60px;
}

.book-button {
  background-color: #FFFFFF;
  color: #2F2A3A;
  font-size: 20px;
  margin-top: 15px;
}

.login-page {
  background-size: cover;
  background-image: url("../images/ocean.jpg");
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-form {
  align-items: center;
  background-color: #dce3e6;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 100px;
  opacity: 1;
  width: 600px;
}

.form-styling {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  opacity: 1;
  width: 200px;
}

.form-label {
  font-size: 20px;
  margin-top: 15px;
}

.form-heading {
  font-size: 40px;
  margin-bottom: 25px;
}

.login {
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: .6s;
}

.user-error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}
