/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

/* font-family: 'Quicksand', sans-serif; */

/* font-family: 'Nothing You Could Do', cursive; */


/* Colors:
- #A9C1D2 light steel blue
- #FFFFFF plain white
- #949D6A moss green
- #2F2A3A raisin black */


/* BODY  */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-bookings, .possible-bookings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

h2 {
  margin: 40px 0px 40px 0px;
  font-size: 30px;
  text-align: center;
}


/* HEADER  */
h1 {
  /* font-family: 'Nothing You Could Do', cursive; */
  color: #2F2A3A;
  font-size: 70px;
  margin: 100px 100px 15px 100px;
  text-align: center;
}

h3 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 105px;
}

h4 {
  margin-bottom: 15px;
}

header {
  background-color: #A9C1D2;
  display: flex;
  height: 24%;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  align-items: flex-end;
}

button {
  background-color: #2F2A3A;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 120px;
  margin-bottom: 20px;
}

.user-total-spent {
  font-size: 20px;
  margin-bottom: 15px;
}

.user-money {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

.search-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -5px;
}

.inputs {
  display: flex;
  margin-bottom: 15px;
  /* align-items: flex-end; */
  /* justify-content: space-around; */
}

.calendar, .room-filter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  /* margin-bottom: 15px; */
}

/* button:hover {
  background-color: #3b3549;
  border-radius: 7px;
  transform: scale(1.02);
  transition: .6s;
} */


/* MAIN  */
/* .user-bookings {

} */

.booking-thumbnail {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  background-color: #A9C1D2;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background-image: url("../images/ocean.jpg");
  background-size: cover;
}

/* Check with eli for frosting info? */
.booking-info {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  opacity: 0.8;
  padding: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.filter-button, .clear-button {
  padding: 5px;
  height: 30px;
  margin-top: 25px;
  margin-left: 20px;
  width: 60px;
}

.clear-button {
  width: 120px;
}

.hidden {
  display: none;
}
